@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* Screen */
@import "screens/login.css";
@import "screens/friends.css";

body {
    color: #2e363e;
    font-family: -apple-system;
    height: 1000vh;
}

